#b-img{
    background-color: rgb(200, 163, 234);
     background: url(https://www.vecteezy.com/free-vector/pastel-color-background); 
}
.container
  {  padding: 50px;
    background-color:rgb(234, 234, 246); 
    
  } 